<!DOCTYPE html>
<html>
    <head>
        <h2>All Pages</h2>
        <ul>
            <li><a href="https://www.w3schools.com">Css</a></li>
            <li><a href="https://www.w3schools.com">Django</a></li>
            <li><a href="https://www.w3schools.com">Git</a></li>
            <li><a href="https://www.w3schools.com">Html</a></li>
            <li><a href="https://www.w3schools.com">Python</a></li>
            <li><a href="https://www.w3schools.com">Test</a></li>
        </ul>
    </head>
</html>